<h1>Tasks#new</h1>

<form action="???" data-turbo="false">
  <input type="text" name="title">
  <input type="text" name="description">
  <input type="submit" value="Create task!">
</form>

<%= params %>
